/* this is default */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

.box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(95, 93, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
#child1{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}
#child2{
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
}
#child3{
    background-color: yellow;
    width: 200px;
    height: 200px;
}